*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(13, 24, 20);
    color: aliceblue;
}
.crud{
    width: 60%;
    margin: auto;
}
.head{
    width: 50%;
    margin: auto;
    text-align: center;
}
.head h2{
    margin: 20px;
}
input{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    margin: 4px 0;
    background-color: rgb(7, 12, 10);
    border-radius: 10px;
    padding: 10px;
    color: aliceblue;
}
input:focus{
    background-color: rgb(0, 19, 11);
    transform: scale(1.01);
}
.price{
    display: flex;
    align-items: center;
    gap: 10px;
}
#totale , button{
    width: 100%;
    height: 40px;
    background: none;
    border-radius: 10px;
    color: rgb(155, 155, 155);
    display: flex;
    align-items: center;
    justify-content: center;
    border:solid 0.5px rgb(0, 255, 153);
    box-shadow: 0 0 10px rgb(0, 255, 153);
    transition: 0.5;
}
button:hover{
    background : rgb(0, 255, 153);
    letter-spacing: 1px;
    color: black;
}
.btndsarch{
    display: flex;
    align-items: center;
    gap: 10px;

}
table{
    width: 100%;
    align-items: center;
    margin: 10px 0;
}
th , td {
    text-align: center;
    padding: 10px;
}
.divmakbar{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#div_kbira{
    background-color: rgb(0, 19, 11);
    border:solid 0.5px rgb(0, 255, 153);
    box-shadow: 0 0 2px rgb(0, 255, 153);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#div_kbira h2{
    background: none;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% ;
    border:solid 0.5px rgb(0, 255, 153);
    box-shadow: 0 0 2px rgb(0, 255, 153);
}
.div2{
    background-color: rgb(16, 46, 34);
    padding: 20px;
    border-radius: 10px;
    
}
.div2 p{
    margin: 10px;
}
.div3{
    padding: 20px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 150px;
}
